brandPrimary = #FF1744
brandPrimaryLight = lighten(brandPrimary, 7%)
brandPrimaryDark = darken(brandPrimary, 10%)
textDimmed = #555
defaultButtonBg = #efefef
primaryButtonBg = #FF1744

buttonPadding(scale = 1)
  hPadding = 1.3em * scale
  vPadding = 1em * scale
  padding: vPadding hPadding