{
  "presets": ["es2015-node5", "stage-1"],
  "sourceMaps": "both",
  "plugins": [
    "transform-runtime",
    "version-inline"
  ],
  "env": {
    "development": {
      "plugins": [
        ["defines", {
          "PRODUCTION": false
        }]
      ]
    },
    "production": {
      "plugins": [
        ["defines", {
          "PRODUCTION": true
        }]
      ]
    }
  }
}