@import '~Variables.styl'
@import '~styles/Buttons.styl'
.noLogs
  padding 60px 20%
  text-align center
  pre, code
    background-color #eee
    font-family 'Source Code Pro', 'Courier New', arial, helvetica, sans-serif

.title
  padding-bottom 20px

.description
  font-size 1.4em
  color textDimmed

.exampleBody
  padding 10px 0
  font-size 1.2em

.actions
  padding-top 20px

.hugeButton
  composes buttonPrimary
  font-size 1em
  buttonPadding(1.1)